.card {
    background-color: rgba(238, 11, 37, 0.6);
    padding: 45px;
    text-align: center;
    margin: 15px;
    border-radius: 7px;
    width: 50%;
    align-items: center;
    /* background-image: url(https://media.valorant-api.com/agents/5f8d3a7f-467b-97f3-062c-13acf203c006/fullportrait.png); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 150px;
    background-size: cover;
    
    height: 320px;
}

.card::before {
    opacity: 0.5;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: green; */
}

.infoContainer {
    border: 2px solid white;
    border-radius: 7px;
    /* width: fit-content; */
    /* margin-left: vw; */
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.agentInfo {
    color: rgb(235, 237, 208);
    margin-bottom: 10px ;
    margin-top: 20px;
}

.agentDesc {
    color: rgb(240, 243, 229);
    text-align:justify;
    margin-top: 10px;
    letter-spacing: 1px;
    line-height: 20px;
}

.roleContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    /* height: 100%; */
    /* background-color: #fff; */
    margin-top: 15px;
    border: 2px solid white;
    border-radius: 7px;
    /* width: fit-content; */
    /* margin-left: vw; */
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.roleIcon {
    width: 10%;
    height: 100%;
    margin: 0 80%;
}

.agentRole {
    color: rgb(170, 195, 251);
    font-size: 30px;
    margin-top: 10px;
    text-align: left;
}

/* .image {
    width: 50%;
    height: 50%;
    /* border-image-repeat:no-repeat; */
/* } */